shamefully-hoist=true
ignore-workspace-root-check=true
strict-peer-dependencies=false


auto-install-peers=false
use-lockfile-v6=true
dedupe-peer-dependents=true
resolve-peers-from-workspace-root=true